<div class="c-app">
    <div class="container">
        <div class="row">
            <div class="col-md-3">

                @@include('_c-nav.html')

            </div>
            <div class="col-md-9">

                <div class="c-app__content">

                    <h2>Level 1</h2>

                    <h3>Введение</h3>

                    <div class="c-app__lesson-wrap" id="1_1_1">
                        <h4>Введение в javascript</h4>
                        @@include(markdown('../lessons/les_1_1_1.md'))
                    </div>

                    <div class="c-app__lesson-wrap" id="1_1_2">
                        <h4>Справочники и спецификации</h4>
                        @@include(markdown('../lessons/les_1_1_2.md'))
                    </div>

                    <div class="c-app__lesson-wrap" id="1_1_3">
                        <h4>Консоль разработчика</h4>
                        @@include(markdown('../lessons/les_1_1_3.md'))
                    </div>

                    <h3>Основы JavaScript</h3>

                    <div class="c-app__lesson-wrap" id="1_2_1">
                        <h4>Привет, мир!</h4>
                        @@include(markdown('../lessons/les_1_2_1.md'))
                    </div>

                    <div class="c-app__lesson-wrap" id="1_2_2">
                        <h4>Внешние скрипты, порядок исполнения</h4>
                        @@include(markdown('../lessons/les_1_2_2.md'))
                    </div>

                    <div class="c-app__lesson-wrap" id="1_2_3">
                        <h4>Структура кода</h4>
                        @@include(markdown('../lessons/les_1_2_3.md'))
                    </div>

                    <div class="c-app__lesson-wrap" id="1_2_4">
                        <h4>Современный стандарт, "use strict"</h4>
                        @@include(markdown('../lessons/les_1_2_4.md'))
                    </div>

                    <div class="c-app__lesson-wrap" id="1_2_5">
                        <h4>Переменные</h4>
                        @@include(markdown('../lessons/les_1_2_5.md'))
                    </div>

                    <div class="c-app__lesson-wrap" id="1_2_6">
                        <h4>Правильный выбор имени переменной</h4>
                        @@include(markdown('../lessons/les_1_2_6.md'))
                    </div>

                    <div class="c-app__lesson-wrap" id="1_2_7">
                        <h4>Шесть типов данных, typeof</h4>
                        @@include(markdown('../lessons/les_1_2_7.md'))
                    </div>

                    <div class="c-app__lesson-wrap" id="1_2_8">
                        <h4>Основные операторы</h4>
                        @@include(markdown('../lessons/les_1_2_8.md'))
                    </div>

                    <div class="c-app__lesson-wrap" id="1_2_9">
                        <h4>Операторы сравнения и логические значения</h4>
                        @@include(markdown('../lessons/les_1_2_9.md'))
                    </div>

                    <div class="c-app__lesson-wrap" id="1_2_10">
                        <h4>Побитовые операторы</h4>
                        @@include(markdown('../lessons/les_1_2_10.md'))
                    </div>

                    <div class="c-app__lesson-wrap" id="1_2_11">
                        <h4>Взаимодействие с пользователем: alert, prompt, confirm</h4>
                        @@include(markdown('../lessons/les_1_2_11.md'))
                    </div>

                    <div class="c-app__lesson-wrap" id="1_2_12">
                        <h4>Условные операторы: if, '?'</h4>
                        @@include(markdown('../lessons/les_1_2_12.md'))
                    </div>

                    <div class="c-app__lesson-wrap" id="1_2_13">
                        <h4>Логические операторы</h4>
                        @@include(markdown('../lessons/les_1_2_13.md'))
                    </div>

                    <div class="c-app__lesson-wrap" id="1_2_14">
                        <h4>Преобразование типов для примитивов</h4>
                        @@include(markdown('../lessons/les_1_2_14.md'))
                    </div>

                    <div class="c-app__lesson-wrap" id="1_2_15">
                        <h4>Циклы while, for</h4>
                        @@include(markdown('../lessons/les_1_2_15.md'))
                    </div>

                    <div class="c-app__lesson-wrap" id="1_2_16">
                        <h4>Конструкция switch</h4>
                        @@include(markdown('../lessons/les_1_2_16.md'))
                    </div>

                    <div class="c-app__lesson-wrap" id="1_2_17">
                        <h4>Функции</h4>
                        @@include(markdown('../lessons/les_1_2_17.md'))
                    </div>

                    <div class="c-app__lesson-wrap" id="1_2_18">
                        <h4>Функциональные выражения</h4>
                        @@include(markdown('../lessons/les_1_2_18.md'))
                    </div>

                    <div class="c-app__lesson-wrap" id="1_2_19">
                        <h4>Рекурсия, стек</h4>
                        @@include(markdown('../lessons/les_1_2_19.md'))
                    </div>

                    <div class="c-app__lesson-wrap" id="1_2_20">
                        <h4>Именованные функциональные выражения</h4>
                        @@include(markdown('../lessons/les_1_2_20.md'))
                    </div>

                    <h2>Level 2</h2>


                    <h3>Качество кода</h3>

                    <div class="c-app__lesson-wrap" id="2_1_1">
                        <h4>Отладка в браузере Chrome</h4>
                        @@include(markdown('../lessons/les_2_1_1.md'))
                    </div>
                    <div class="c-app__lesson-wrap" id="2_1_2">
                        <h4>Советы по стилю кода</h4>
                        @@include(markdown('../lessons/les_2_1_2.md'))
                    </div>
                    <div class="c-app__lesson-wrap" id="2_1_3">
                        <h4>Как писать неподдерживаемый код?</h4>
                        @@include(markdown('../lessons/les_2_1_3.md'))
                    </div>
                    <div class="c-app__lesson-wrap" id="2_1_4">
                        <h4>Автоматические тесты при помощи chai и mocha</h4>
                        @@include(markdown('../lessons/les_2_1_4.md'))
                    </div>


                    <h3>Структуры данных</h3>

                    <div class="c-app__lesson-wrap" id="2_2_1">
                        <h4>Введение в методы и свойства</h4>
                        @@include(markdown('../lessons/les_2_2_1.md'))
                    </div>
                    <div class="c-app__lesson-wrap" id="2_2_2">
                        <h4>Числа</h4>
                        @@include(markdown('../lessons/les_2_2_2.md'))
                    </div>
                    <div class="c-app__lesson-wrap" id="2_2_3">
                        <h4>Строки</h4>
                        @@include(markdown('../lessons/les_2_2_3.md'))
                    </div>
                    <div class="c-app__lesson-wrap" id="2_2_4">
                        <h4>Объекты как ассоциативные массивы</h4>
                        @@include(markdown('../lessons/les_2_2_4.md'))
                    </div>
                    <div class="c-app__lesson-wrap" id="2_2_5">
                        <h4>Объекты: перебор свойств</h4>
                        @@include(markdown('../lessons/les_2_2_5.md'))
                    </div>
                    <div class="c-app__lesson-wrap" id="2_2_6">
                        <h4>Объекты: передача по ссылке</h4>
                        @@include(markdown('../lessons/les_2_2_6.md'))
                    </div>
                    <div class="c-app__lesson-wrap" id="2_2_7">
                        <h4>Массивы с числовыми индексами</h4>
                        @@include(markdown('../lessons/les_2_2_7.md'))
                    </div>
                    <div class="c-app__lesson-wrap" id="2_2_8">
                        <h4>Массивы: методы</h4>
                        @@include(markdown('../lessons/les_2_2_8.md'))
                    </div>
                    <div class="c-app__lesson-wrap" id="2_2_9">
                        <h4>Массив: перебирающие методы</h4>
                        @@include(markdown('../lessons/les_2_2_9.md'))
                    </div>
                    <div class="c-app__lesson-wrap" id="2_2_10">
                        <h4>Псевдомассив аргументов "arguments"</h4>
                        @@include(markdown('../lessons/les_2_2_10.md'))
                    </div>
                    <div class="c-app__lesson-wrap" id="2_2_11">
                        <h4>Дата и Время</h4>
                        @@include(markdown('../lessons/les_2_2_11.md'))
                    </div>

                    <h2>Level 3</h2>


                    <h3>Замыкания, область видимости</h3>

                    <div class="c-app__lesson-wrap" id="3_1_1">
                        <h4>Глобальный объект</h4>
                        @@include(markdown('../lessons/les_3_1_1.md'))
                    </div>
                    <div class="c-app__lesson-wrap" id="3_1_2">
                        <h4>Замыкания, функции изнутри</h4>
                        @@include(markdown('../lessons/les_3_1_2.md'))
                    </div>
                    <div class="c-app__lesson-wrap" id="3_1_3">
                        <h4>[[Scope]] для new Function</h4>
                        @@include(markdown('../lessons/les_3_1_3.md'))
                    </div>
                    <div class="c-app__lesson-wrap" id="3_1_4">
                        <h4>Локальные переменные для объекта</h4>
                        @@include(markdown('../lessons/les_3_1_4.md'))
                    </div>
                    <div class="c-app__lesson-wrap" id="3_1_5">
                        <h4>Модули через замыкания</h4>
                        @@include(markdown('../lessons/les_3_1_5.md'))
                    </div>
                    <div class="c-app__lesson-wrap" id="3_1_6">
                        <h4>Управление памятью в JavaScript</h4>
                        @@include(markdown('../lessons/les_3_1_6.md'))
                    </div>
                    <div class="c-app__lesson-wrap" id="3_1_7">
                        <h4>Устаревшая конструкция "with"</h4>
                        @@include(markdown('../lessons/les_3_1_7.md'))
                    </div>


                    <h3>Методы объектов и контекст вызова</h3>

                    <div class="c-app__lesson-wrap" id="3_2_1">
                        <h4>Методы объектов, this</h4>
                        @@include(markdown('../lessons/les_3_2_1.md'))
                    </div>
                    <div class="c-app__lesson-wrap" id="3_2_2">
                        <h4>Преобразование объектов: toString и valueOf</h4>
                        @@include(markdown('../lessons/les_3_2_2.md'))
                    </div>
                    <div class="c-app__lesson-wrap" id="3_2_3">
                        <h4>Создание объектов через "new"</h4>
                        @@include(markdown('../lessons/les_3_2_3.md'))
                    </div>
                    <div class="c-app__lesson-wrap" id="3_2_4">
                        <h4>Дескрипторы, геттеры и сеттеры свойств</h4>
                        @@include(markdown('../lessons/les_3_2_4.md'))
                    </div>
                    <div class="c-app__lesson-wrap" id="3_2_5">
                        <h4>Статические и фабричные методы</h4>
                        @@include(markdown('../lessons/les_3_2_5.md'))
                    </div>
                    <div class="c-app__lesson-wrap" id="3_2_6">
                        <h4>Явное указание this: "call", "apply"</h4>
                        @@include(markdown('../lessons/les_3_2_6.md'))
                    </div>
                    <div class="c-app__lesson-wrap" id="3_2_7">
                        <h4>Привязка контекста и карринг: "bind"</h4>
                        @@include(markdown('../lessons/les_3_2_7.md'))
                    </div>
                    <div class="c-app__lesson-wrap" id="3_2_8">
                        <h4>Функции-обёртки, декораторы</h4>
                        @@include(markdown('../lessons/les_3_2_8.md'))
                    </div>


                    <h3>Некоторые другие возможности</h3>

                    <div class="c-app__lesson-wrap" id="3_3_1">
                        <h4>Типы данных: [[Class]], instanceof и утки</h4>
                        @@include(markdown('../lessons/les_3_3_1.md'))
                    </div>
                    <div class="c-app__lesson-wrap" id="3_3_2">
                        <h4>Формат JSON, метод toJSON</h4>
                        @@include(markdown('../lessons/les_3_3_2.md'))
                    </div>
                    <div class="c-app__lesson-wrap" id="3_3_3">
                        <h4>setTimeout и setInterval</h4>
                        @@include(markdown('../lessons/les_3_3_3.md'))
                    </div>
                    <div class="c-app__lesson-wrap" id="3_3_4">
                        <h4>Запуск кода из строки: eval</h4>
                        @@include(markdown('../lessons/les_3_3_4.md'))
                    </div>
                    <div class="c-app__lesson-wrap" id="3_3_5">
                        <h4>Перехват ошибок, "try..catch"</h4>
                        @@include(markdown('../lessons/les_3_3_5.md'))
                    </div>


                    <h3>ООП в функциональном стиле</h3>

                    <div class="c-app__lesson-wrap" id="3_4_1">
                        <h4>Введение</h4>
                        @@include(markdown('../lessons/les_3_4_1.md'))
                    </div>
                    <div class="c-app__lesson-wrap" id="3_4_2">
                        <h4>Внутренний и внешний интерфейс</h4>
                        @@include(markdown('../lessons/les_3_4_2.md'))
                    </div>
                    <div class="c-app__lesson-wrap" id="3_4_3">
                        <h4>Геттеры и сеттеры</h4>
                        @@include(markdown('../lessons/les_3_4_3.md'))
                    </div>
                    <div class="c-app__lesson-wrap" id="3_4_4">
                        <h4>Функциональное наследование</h4>
                        @@include(markdown('../lessons/les_3_4_4.md'))
                    </div>


                    <h3>ООП в прототипном стиле</h3>

                    <div class="c-app__lesson-wrap" id="3_5_1">
                        <h4>Прототип объекта</h4>
                        @@include(markdown('../lessons/les_3_5_1.md'))
                    </div>
                    <div class="c-app__lesson-wrap" id="3_5_2">
                        <h4>Свойство F.prototype и создание объектов через new</h4>
                        @@include(markdown('../lessons/les_3_5_2.md'))
                    </div>
                    <div class="c-app__lesson-wrap" id="3_5_3">
                        <h4>Встроенные "классы" в JavaScript</h4>
                        @@include(markdown('../lessons/les_3_5_3.md'))
                    </div>
                    <div class="c-app__lesson-wrap" id="3_5_4">
                        <h4>Свои классы на прототипах</h4>
                        @@include(markdown('../lessons/les_3_5_4.md'))
                    </div>
                    <div class="c-app__lesson-wrap" id="3_5_5">
                        <h4>Наследование классов в JavaScript</h4>
                        @@include(markdown('../lessons/les_3_5_5.md'))
                    </div>
                    <div class="c-app__lesson-wrap" id="3_5_6">
                        <h4>Проверка класса: "instanceof"</h4>
                        @@include(markdown('../lessons/les_3_5_6.md'))
                    </div>
                    <div class="c-app__lesson-wrap" id="3_5_7">
                        <h4>Свои ошибки, наследование от Error</h4>
                        @@include(markdown('../lessons/les_3_5_7.md'))
                    </div>
                    <div class="c-app__lesson-wrap" id="3_5_8">
                        <h4>Примеси</h4>
                        @@include(markdown('../lessons/les_3_5_8.md'))
                    </div>


                    <h3>Современные возможности ES-2015</h3>

                    <div class="c-app__lesson-wrap" id="3_6_1">
                        <h4>ES-2015 сейчас</h4>
                        @@include(markdown('../lessons/les_3_6_1.md'))
                    </div>
                    <div class="c-app__lesson-wrap" id="3_6_2">
                        <h4>Переменные: let и const</h4>
                        @@include(markdown('../lessons/les_3_6_2.md'))
                    </div>
                    <div class="c-app__lesson-wrap" id="3_6_3">
                        <h4>Деструктуризация</h4>
                        @@include(markdown('../lessons/les_3_6_3.md'))
                    </div>
                    <div class="c-app__lesson-wrap" id="3_6_4">
                        <h4>Функции</h4>
                        @@include(markdown('../lessons/les_3_6_4.md'))
                    </div>
                    <div class="c-app__lesson-wrap" id="3_6_5">
                        <h4>Строки</h4>
                        @@include(markdown('../lessons/les_3_6_5.md'))
                    </div>

                    <div class="c-app__lesson-wrap" id="3_6_6">
                        <h4>Объекты и прототипы</h4>
                        @@include(markdown('../lessons/les_3_6_6.md'))
                    </div>
                    <div class="c-app__lesson-wrap" id="3_6_7">
                        <h4>Классы</h4>
                        @@include(markdown('../lessons/les_3_6_7.md'))
                    </div>
                    <div class="c-app__lesson-wrap" id="3_6_8">
                        <h4>Тип данных Symbol</h4>
                        @@include(markdown('../lessons/les_3_6_8.md'))
                    </div>
                    <div class="c-app__lesson-wrap" id="3_6_9">
                        <h4>Итераторы</h4>
                        @@include(markdown('../lessons/les_3_6_9.md'))
                    </div>
                    <div class="c-app__lesson-wrap" id="3_6_10">
                        <h4>Set, Map, WeakSet и WeakMap</h4>
                        @@include(markdown('../lessons/les_3_6_10.md'))
                    </div>

                    <div class="c-app__lesson-wrap" id="3_6_11">
                        <h4>Promise</h4>
                        @@include(markdown('../lessons/les_3_6_11.md'))
                    </div>
                    <div class="c-app__lesson-wrap" id="3_6_12">
                        <h4>Генераторы</h4>
                        @@include(markdown('../lessons/les_3_6_12.md'))
                    </div>
                    <div class="c-app__lesson-wrap" id="3_6_13">
                        <h4>Модули</h4>
                        @@include(markdown('../lessons/les_3_6_13.md'))
                    </div>
                    <div class="c-app__lesson-wrap" id="3_6_14">
                        <h4>Proxy</h4>
                        @@include(markdown('../lessons/les_3_6_14.md'))
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
