<div class="c-nav">
    <h4>Level 1</h4>
    <h5>Введение</h5>
    <ul>
        <li><a href="#1_1_1">Введение в javascript</a></li>
        <li><a href="#1_1_2">Справочники и спецификации</a></li>
        <li><a href="#1_1_3">Консоль разработчика</a></li>
    </ul>
    <h5>Основы JavaScript</h5>
    <ul>
        <li><a href="#1_2_1">Привет, мир!</a></li>
        <li><a href="#1_2_2">Внешние скрипты, порядок исполнения</a></li>
        <li><a href="#1_2_3">Структура кода</a></li>
        <li><a href="#1_2_4">Современный стандарт, "use strict"</a></li>
        <li><a href="#1_2_5">Переменные</a></li>
        <li><a href="#1_2_6">Правильный выбор имени переменной</a></li>
        <li><a href="#1_2_7">Шесть типов данных, typeof</a></li>
        <li><a href="#1_2_8">Основные операторы</a></li>
        <li><a href="#1_2_9">Операторы сравнения и логические значения</a></li>
        <li><a href="#1_2_10">Побитовые операторы</a></li>
        <li><a href="#1_2_11">Взаимодействие с пользователем: alert, prompt, confirm</a></li>
        <li><a href="#1_2_12">Условные операторы: if, '?'</a></li>
        <li><a href="#1_2_13">Логические операторы</a></li>
        <li><a href="#1_2_14">Преобразование типов для примитивов</a></li>
        <li><a href="#1_2_15">Циклы while, for</a></li>
        <li><a href="#1_2_16">Конструкция switch</a></li>
        <li><a href="#1_2_17">Функции</a></li>
        <li><a href="#1_2_18">Функциональные выражения</a></li>
        <li><a href="#1_2_19">Рекурсия, стек</a></li>
        <li><a href="#1_2_20">Именованные функциональные выражения</a></li>
    </ul>
    <h4>Level 2</h4>
    <h5>Качество кода</h5>
    <ul>
        <li><a href="#2_1_1">Отладка в браузере Chrome</a></li>
        <li><a href="#2_1_2">Советы по стилю кода</a></li>
        <li><a href="#2_1_3">Как писать неподдерживаемый код?</a></li>
        <li><a href="#2_1_4">Автоматические тесты при помощи chai и mocha</a></li>
    </ul>
    <h5>Структуры данных</h5>
    <ul>
        <li><a href="#2_2_1">Введение в методы и свойства</a></li>
        <li><a href="#2_2_2">Числа</a></li>
        <li><a href="#2_2_3">Строки</a></li>
        <li><a href="#2_2_4">Объекты как ассоциативные массивы</a></li>
        <li><a href="#2_2_5">Объекты: перебор свойств</a></li>
        <li><a href="#2_2_6">Объекты: передача по ссылке</a></li>
        <li><a href="#2_2_7">Массивы с числовыми индексами</a></li>
        <li><a href="#2_2_8">Массивы: методы</a></li>
        <li><a href="#2_2_9">Массив: перебирающие методы</a></li>
        <li><a href="#2_2_10">Псевдомассив аргументов "arguments"</a></li>
        <li><a href="#2_2_11">Дата и Время</a></li>
    </ul>
    <h4>Level 3</h4>
    <h5>Замыкания, область видимости</h5>
    <ul>
        <li><a href="#3_1_1">Глобальный объект</a></li>
        <li><a href="#3_1_2">Замыкания, функции изнутри</a></li>
        <li><a href="#3_1_3">[[Scope]] для new Function</a></li>
        <li><a href="#3_1_4">Локальные переменные для объекта</a></li>
        <li><a href="#3_1_5">Модули через замыкания</a></li>
        <li><a href="#3_1_6">Управление памятью в JavaScript</a></li>
        <li><a href="#3_1_7">Устаревшая конструкция "with"</a></li>
    </ul>
    <h5>Методы объектов и контекст вызова</h5>
    <ul>
        <li><a href="#3_2_1">Методы объектов, this</a></li>
        <li><a href="#3_2_2">Преобразование объектов: toString и valueOf</a></li>
        <li><a href="#3_2_3">Создание объектов через "new"</a></li>
        <li><a href="#3_2_4">Дескрипторы, геттеры и сеттеры свойств</a></li>
        <li><a href="#3_2_5">Статические и фабричные методы</a></li>
        <li><a href="#3_2_6">Явное указание this: "call", "apply"</a></li>
        <li><a href="#3_2_7">Привязка контекста и карринг: "bind"</a></li>
        <li><a href="#3_2_8">Функции-обёртки, декораторы</a></li>
    </ul>
    <h5>Некоторые другие возможности</h5>
    <ul>
        <li><a href="#3_3_1">Типы данных: [[Class]], instanceof и утки</a></li>
        <li><a href="#3_3_2">Формат JSON, метод toJSON</a></li>
        <li><a href="#3_3_3">setTimeout и setInterval</a></li>
        <li><a href="#3_3_4">Запуск кода из строки: eval</a></li>
        <li><a href="#3_3_5">Перехват ошибок, "try..catch"</a></li>
    </ul>
    <h5>ООП в функциональном стиле</h5>
    <ul>
        <li><a href="#3_4_1">Введение</a></li>
        <li><a href="#3_4_2">Внутренний и внешний интерфейс</a></li>
        <li><a href="#3_4_3">Геттеры и сеттеры</a></li>
        <li><a href="#3_4_4">Функциональное наследование</a></li>
    </ul>
    <h5>ООП в прототипном стиле</h5>
    <ul>
        <li><a href="#3_5_1">Прототип объекта</a></li>
        <li><a href="#3_5_2">Свойство F.prototype и создание объектов через new</a></li>
        <li><a href="#3_5_3">Встроенные "классы" в JavaScript</a></li>
        <li><a href="#3_5_4">Свои классы на прототипах</a></li>
        <li><a href="#3_5_5">Наследование классов в JavaScript</a></li>
        <li><a href="#3_5_6">Проверка класса: "instanceof"</a></li>
        <li><a href="#3_5_7">Свои ошибки, наследование от Error</a></li>
        <li><a href="#3_5_8">Примеси</a></li>
    </ul>
    <h5>Современные возможности <br>ES-2015</h5>
    <ul>
        <li><a href="#3_6_1">ES-2015 сейчас</a></li>
        <li><a href="#3_6_2">Переменные: let и const</a></li>
        <li><a href="#3_6_3">Деструктуризация</a></li>
        <li><a href="#3_6_4">Функции</a></li>
        <li><a href="#3_6_5">Строки</a></li>
        <li><a href="#3_6_6">Объекты и прототипы</a></li>
        <li><a href="#3_6_7">Классы</a></li>
        <li><a href="#3_6_8">Тип данных Symbol</a></li>
        <li><a href="#3_6_9">Итераторы</a></li>
        <li><a href="#3_6_10">Set, Map, WeakSet и WeakMap</a></li>
        <li><a href="#3_6_11">Promise</a></li>
        <li><a href="#3_6_12">Генераторы</a></li>
        <li><a href="#3_6_13">Модули</a></li>
        <li><a href="#3_6_14">Proxy</a></li>
    </ul>
    <!--
    <h4>Документ, события, интерфейсы</h4>

    <h5>Документ и объекты страницы</h5>
    <ul>
        <li><a href="#4_1_1">Окружение: DOM, BOM и JS</a></li>
        <li><a href="#4_1_2">Дерево DOM</a></li>
        <li><a href="#4_1_3">Работа с DOM из консоли</a></li>
        <li><a href="#4_1_4">Навигация по DOM-элементам</a></li>
        <li><a href="#4_1_5">Поиск: getElement* и querySelector* и не только</a></li>
        <li><a href="#4_1_6">Внутреннее устройство поисковых методов</a></li>
        <li><a href="#4_1_7">Свойства узлов: тип, тег и содержимое</a></li>
        <li><a href="#4_1_8">Современный DOM: полифиллы</a></li>
        <li><a href="#4_1_9">Атрибуты и DOM-свойства</a></li>
        <li><a href="#4_1_10">Методы contains и compareDocumentPosition</a></li>
        <li><a href="#4_1_11">Добавление и удаление узлов</a></li>
        <li><a href="#4_1_12">Мультивставка: insertAdjacentHTML и DocumentFragment</a></li>
        <li><a href="#4_1_13">Метод document.write</a></li>
        <li><a href="#4_1_14">Стили, getComputedStyle</a></li>
        <li><a href="#4_1_15">Размеры и прокрутка элементов</a></li>
        <li><a href="#4_1_16">Размеры и прокрутка страницы</a></li>
        <li><a href="#4_1_17">Координаты в окне</a></li>
        <li><a href="#4_1_18">Координаты в документе</a></li>
    </ul>

    <h5>Основы работы с событиями</h5>
    <ul>
        <li><a href="#4_2_1">Введение в браузерные события</a></li>
        <li><a href="#4_2_2">Порядок обработки событий</a></li>
        <li><a href="#4_2_3">Объект события</a></li>
        <li><a href="#4_2_4">Всплытие и перехват</a></li>
        <li><a href="#4_2_5">Делегирование событий</a></li>
        <li><a href="#4_2_6">Приём проектирования "поведение"</a></li>
        <li><a href="#4_2_7">Действия браузера по умолчанию</a></li>
        <li><a href="#4_2_8">Генерация событий на элементах</a></li>
    </ul>

    <h5>События в деталях</h5>
    <ul>
        <li><a href="#4_3_1">Мышь: клики, кнопка, координаты</a></li>
        <li><a href="#4_3_2">Мышь: отмена выделения, невыделяемые элементы</a></li>
        <li><a href="#4_3_3">Мышь: движение mouseover/out, mouseenter/leave</a></li>
        <li><a href="#4_3_4">Мышь: Drag'n'Drop</a></li>
        <li><a href="#4_3_5">Мышь: Drag'n'Drop более глубоко</a></li>
        <li><a href="#4_3_6">Мышь: колёсико, событие wheel</a></li>
        <li><a href="#4_3_7">Мышь: IE8-, исправление события</a></li>
        <li><a href="#4_3_8">Прокрутка: событие scroll</a></li>
        <li><a href="#4_3_9">Клавиатура: keyup, keydown, keypress</a></li>
        <li><a href="#4_3_10">Загрузка документа: DOMContentLoaded, load, beforeunload, unload</a></li>
        <li><a href="#4_3_11">Загрузка скриптов, картинок, фреймов: onload и onerror</a></li>
    </ul>

    <h5>Формы, элементы управления</h5>
    <ul>
        <li><a href="#4_4_1">Навигация и свойства элементов формы</a></li>
        <li><a href="#4_4_1">Фокусировка: focus/blur</a></li>
        <li><a href="#4_4_1">Изменение: change, input, cut, copy, paste</a></li>
        <li><a href="#4_4_1">Формы: отправка, событие и метод submit</a></li>
    </ul>

    <h5>Создание графических компонентов</h5>
    <ul>
        <li><a href="#4_5_1">Введение</a></li>
        <li><a href="#4_5_1">Графические компоненты</a></li>
        <li><a href="#4_5_1">Вёрстка графических компонентов</a></li>
        <li><a href="#4_5_1">Шаблонизатор LoDash</a></li>
        <li><a href="#4_5_1">Коллбэки и события на компонентах</a></li>
        <li><a href="#4_5_1">Что изучать дальше</a></li>
    </ul>

    <h4>Веб-компоненты: взгляд в будущее</h4>
    <ul>
        <li><a href="#5_1_1">С высоты орбитального полёта</a></li>
        <li><a href="#5_1_2">Пользовательские элементы: Custom Elements</a></li>
        <li><a href="#5_1_3">Shadow DOM</a></li>
        <li><a href="#5_1_4">Шаблоны &lt;template&gt;</a></li>
        <li><a href="#5_1_5">Стили и селекторы</a></li>
        <li><a href="#5_1_6">Импорты</a></li>
        <li><a href="#5_1_7">Веб-компонент в сборе</a></li>
    </ul>

    <h4>AJAX и COMET</h4>
    <ul>
        <li><a href="#6_1_1">Введение в AJAX и COMET</a></li>
        <li><a href="#6_1_2">Node.JS для решения задач</a></li>
        <li><a href="#6_1_3">Основы XMLHttpRequest</a></li>
        <li><a href="#6_1_4">XMLHttpRequest POST, формы и кодировка</a></li>
        <li><a href="#6_1_5">XMLHttpRequest: кросс-доменные запросы</a></li>
        <li><a href="#6_1_6">XMLHttpRequest: индикация прогресса</a></li>
        <li><a href="#6_1_7">XMLHttpRequest: возобновляемая закачка</a></li>
        <li><a href="#6_1_8">COMET с XMLHttpRequest: длинные опросы</a></li>
        <li><a href="#6_1_9">WebSocket</a></li>
        <li><a href="#6_1_10">Протокол JSONP</a></li>
        <li><a href="#6_1_11">Server Side Events -- события с сервера</a></li>
        <li><a href="#6_1_12">IFRAME для AJAX и COMET</a></li>
        <li><a href="#6_1_13">Атака CSRF</a></li>
        <li><a href="#6_1_14">Метод fetch: замена XMLHttpRequest</a></li>
        <li><a href="#6_1_15">Таблица транспортов и их возможностей</a></li>
    </ul>

    <h4>Анимация</h4>
    <ul>
        <li><a href="#7_1_1">Кривые Безье</a></li>
        <li><a href="#7_1_2">CSS-анимации</a></li>
        <li><a href="#7_1_3">JS-Анимация</a></li>
    </ul>

    <h4>Оптимизация</h4>
    <ul>
        <li><a href="#8_1_1">Введение</a></li>
        <li><a href="#8_1_2">Как работают сжиматели JavaScript</a></li>
        <li><a href="#8_1_3">Улучшаем сжатие кода</a></li>
        <li><a href="#8_1_4">Утечки памяти</a></li>
        <li><a href="#8_1_5">Утечки памяти при использовании jQuery</a></li>
        <li><a href="#8_1_6">Очистка памяти при removeChild/innerHTML</a></li>
        <li><a href="#8_1_7">GCC: продвинутые оптимизации</a></li>
        <li><a href="#8_1_8">GCC: статическая проверка типов</a></li>
        <li><a href="#8_1_9">GCC: интеграция с Google Closure Library</a></li>
    </ul>

    <h4>Окна и Фреймы</h4>
    <ul>
        <li><a href="#9_1_1">Открытие окон и методы window</a></li>
        <li><a href="#9_1_2">Общение между окнами и фреймами</a></li>
        <li><a href="#9_1_3">Кросс-доменные ограничения и их обход</a></li>
        <li><a href="#9_1_4">Общение окон с разных доменов: postMessage</a></li>
        <li><a href="#9_1_5">Привлечение внимания к окну</a></li>
        <li><a href="#9_1_6">Атака Clickjacking и защита от неё</a></li>
    </ul>

    <h4>CSS для JavaScript-разработчика</h4>
    <ul>
        <li><a href="#10_1_1">О чём пойдёт речь</a></li>
        <li><a href="#10_1_2">Единицы измерения: "px", "em", "rem" и другие</a></li>
        <li><a href="#10_1_3">Все значения свойства "display"</a></li>
        <li><a href="#10_1_4">Свойство "float"</a></li>
        <li><a href="#10_1_5">Свойство "position"</a></li>
        <li><a href="#10_1_6">Центрирование горизонтальное и вертикальное</a></li>
        <li><a href="#10_1_7">Свойства "font-size" и "line-height"</a></li>
        <li><a href="#10_1_8">Свойство white-space</a></li>
        <li><a href="#10_1_9">Свойство "outline"</a></li>
        <li><a href="#10_1_10">Свойство "box-sizing"</a></li>
        <li><a href="#10_1_11">Свойство "margin"</a></li>
        <li><a href="#10_1_12">Лишнее место под IMG</a></li>
        <li><a href="#10_1_13">Свойство "overflow"</a></li>
        <li><a href="#10_1_14">Особенности свойства "height" в %</a></li>
        <li><a href="#10_1_15">Знаете ли вы селекторы?</a></li>
        <li><a href="#10_1_16">CSS-спрайты</a></li>
        <li><a href="#10_1_17">Правила форматирования CSS</a></li>
    </ul>

    <h4>Сундучок с инструментами</h4>
    <ul>
        <li><a href="#11_1_">Полезные расширения Firefox и Chrome</a></li>
        <li><a href="#11_1_">Скриптуемый отладочный прокси Fiddler</a></li>
        <li><a href="#11_1_">IE HTTP Analyzer</a></li>
    </ul>

    <h4>Регулярные выражения</h4>
    <ul>
        <li><a href="#12_1_1">Паттерны и флаги</a></li>
        <li><a href="#12_1_2">Методы RegExp и String</a></li>
        <li><a href="#12_1_3">Классы и спецсимволы</a></li>
        <li><a href="#12_1_4">Наборы и диапазоны [...]</a></li>
        <li><a href="#12_1_5">Квантификаторы +, *, ? и {n}</a></li>
        <li><a href="#12_1_6">Жадные и ленивые квантификаторы</a></li>
        <li><a href="#12_1_7">Скобочные группы</a></li>
        <li><a href="#12_1_8">Обратные ссылки: \n и $n</a></li>
        <li><a href="#12_1_9">Альтернация (или) |</a></li>
        <li><a href="#12_1_10">Начало строки ^ и конец $</a></li>
        <li><a href="#12_1_11">Многострочный режим, флаг "m"</a></li>
        <li><a href="#12_1_12">Предпросмотр (неготово)</a></li>
        <li><a href="#12_1_13">Чёрная дыра бэктрекинга</a></li>
    </ul>

    <h4>О всякой всячине</h4>
    <ul>
        <li><a href="#13_1_1">Эволюция шаблонных систем для JavaScript</a></li>
        <li><a href="#13_1_2">Книги по JS, HTML/CSS и не только</a></li>
        <li><a href="#13_1_3">Асинхронное выполнение: setImmediate</a></li>
        <li><a href="#13_1_4">Позднее связывание "bindLate"</a></li>
        <li><a href="#13_1_5">Sublime Text: шпаргалка</a></li>
        <li><a href="#13_1_6">Выделение: Range, TextRange и Selection</a></li>
        <li><a href="#13_1_7">Применяем ООП: Drag'n'Drop++</a></li>
        <li><a href="#13_1_8">Куки, document.cookie</a></li>
        <li><a href="#13_1_9">Intl: интернационализация в JavaScript</a></li>
        <li><a href="#13_1_10">Особенности регулярных выражений в Javascript</a></li>
    </ul>



    <h5></h5>
    <ul>
        <li><a href="#"></a></li>
    </ul>
-->
</div>
