<div class="c-slider">
	<div class="c-slider__inner">
		<div class="c-slider__items">
			<div class="c-slider__item" >
				
			</div>
			<div class="c-slider__item" >
				
			</div>
			<div class="c-slider__item" >
				
			</div>
			<div class="c-slider__item" >
				
			</div>
			<div class="c-slider__item" >
				
			</div>
			<div class="c-slider__item" >
				
			</div>
		</div>
	</div>
</div>