.c-app {
    &__lesson-wrap {
        background: $g-lesson-background;
        padding: 10px;
        margin-bottom: 10px;
        h4 {
            font-size: 1.5em;
            position: relative;
            &:before {
                content: '';
                display: block;
                height: 20px;
                width: 5px;
                background: $g-body-color;
                position: absolute;
                top: 0;
                left: -10px;
            }
        }
        h5 {
            border-bottom: 1px solid darken($g-body-color, 40);
            font-size: 1.3em;
            font-weight: bold;
        }
        code {
            background: $g-code-background;
            color: $g-body-color;
            display: inline-block;
        }
        p {
            overflow-x: auto;
            margin-bottom: 0.5em;
        }

    }
}
