.c-nav {
    background: $g-nav-background;
    padding: 5px;
    ul {
        list-style-type: none;
        padding-left: 10px;
        padding-right: 10px;
    }
    li {
        line-height: 1em;
        margin-bottom: 8px;
    }
}
