.c-slider {
	border: 1px solid black;
	&__inner {
		max-width: 700px;
		height: 200px;
		border: 1px solid black;
		margin: 0 auto;
		text-align: center;
		position: relative;
	}
	&__items {
		display: inline-block;
		border: 1px solid black;
		width: auto;
		margin: 0 auto;
		&:after {
			content: '';
			display: block;
			clear: both;
		}
	}
    &__item {
        width: 200px;
        height: 200px;
        background-color: #f1f1d5;
        display: inline-block;
        float: left;
        &:nth-child(2n) {
	        background-color: #f1dcd5;
        }
        &:nth-child(n+4) {
	        display: none;
        }
    }
}
