$g-body-background: #21252b;
$g-body-color: #79a1a9;

$g-nav-background: darken($g-body-background, 2);
$g-lesson-background: darken($g-body-background, 2);
$g-code-background: darken($g-body-background, 4);
